extends layout.pug

block content
  section.error
    h1= `${error.message} - Status: ${error.status}`

    .error-stack
      pre.stack-trace= error.stack
      //I made a few changes to the CSS styling of the error stack to ensure
      //its readability.
    br

    a.button(href='/') Go Home