extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 #{project.project_name}

        p.lead.text-light
          | #{project.description}
          //I adapted the text for the project description from the Team Treehouse
          //website. I would note this in the data.json file, but JSON is simply
          //to store data. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

        ul
        //Here I use the pug 'each' method to iterate over the array 'technologies',
        //one of the keys in the project JSON object I passed down in my routes
        //folder. I specified that each technology be displayed in an li element.
        each technology in project.technologies
          li #{technology}
        br

        a.button.expanded(href='' + project.live_link) Live Demo
        br
        a.button.expanded(href='' + project.github_link) GitHub Repo

        br

    //Here I use the pug 'each' method to iterate over the array 'image_urls',
    //one of the keys in the project JSON object I passed down in my routes
    //folder. I specified that each image url be designated as the source
    //for a new image to be displayed.
    each imageUrl in project.image_urls
      img.image(src='' + imageUrl)